.current {
  display: flex;
}

.current .icon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #8998AB;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.current .temperature {
  font-size: 3rem;
  font-weight: 300;
}
